<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hamhabocca.dallibocca.qna.repository.QnaMapper">

  <resultMap id="QnaResultMap" type="com.hamhabocca.dallibocca.qna.entity.Qna">
    <id property="qnaId" column="qna_id"/>
    <result property="qnaTitle" column="qna_title"/>
    <result property="qnaCategory" column="qna_category"/>
    <result property="memberId" column="member_id"/>
    <result property="qnaDetail" column="qna_detail"/>
    <result property="qnaWriteDate" column="qna_write_date"/>
  </resultMap>

  <select id="findQnaListBySearch" resultMap="QnaResultMap" parameterType="com.hamhabocca.dallibocca.qna.dto.SearchFilter">
    SELECT *
    FROM QNA
    WHERE 1 = 1
    <if test="category != null and category != ''">
      AND qna_category = #{ category }
    </if>
    <if test="title != null and title != ''">
      AND qna_title LIKE CONCAT('%', #{title}, '%')
    </if>
  </select>

</mapper>