.container {
  display: flex;
  font-weight: 400;
}

.board {
  border-left: 1.5px solid #202020;
  width: 745px;
  padding-left: 55px;
}

.title {
  height: 60px;
  border-bottom: 1.5px solid #202020;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.title h1 {
  font-weight: 700;
  font-size: 20px;
}

.category {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
  margin: 5px 0;
  height: 30px;
}

.select {
  width: 80px;
  margin-right: 10px;
  height: 30px;
  border: none;
}

.category div {
  flex-basis: 50px;
  flex-grow: 1;
  border-left: 1.5px solid #202020;
}

.category div:nth-child(3) {
  flex-grow: 5;
}

.category div:nth-child(5) {
  flex-grow: 1.5;
}

.list {
  height: 600px;
}

.pagination {
  height: 30px;
  margin-top: 15px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination button {
  border: none;
  width: 30px;
  background: none;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button:hover {
  cursor: pointer;
  color: #A5A5A5;
}