.container {
    display: flex;
    font-weight: 400;
}

.board {
    border-left: 1.5px solid #202020;
    width: 745px;
    padding-left: 55px;
}

.title {
    height: 60px;
    border-bottom: 1.5px solid #202020;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.title h1 {
    font-weight: 700;
    font-size: 20px;
}

.list {
    height: 740px;
}

.category {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 14px;
    margin-top: 5px;
    height: 30px;
}

.category div:nth-child(2) {
    flex-grow: 3.5;
}


.category div:nth-child(3) {
    flex-grow: 3.5;
}

.select {
    width: 80px;
    height: 30px;
    border: none;
    margin-right: 10px;

}

.category div {
    flex-basis: 50px;
    flex-grow: 1;
    border-right: 1.5px solid #202020;
}

.category div:nth-child(5) {
    flex-basis: 50px;
    flex-grow: 1;
    border: none;
}

.pagination {
    height: 30px;
    margin-top: 15px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.pagination button {
    border: none;
    width: 30px;
    background: none;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button:hover {
    cursor: pointer;
    color: #A5A5A5;
}



.report button {
    width: 65px;
    height: 30px;
    text-align: center;
    float: right;
    border: none;
}


.report {
    width: 90px;
    background: #FF342B;
    color: white;
}

.edit {
    width: 65px;
    margin-left: 15px;
    background: #D9D9D9;
    color: #303030;
}